.Valid{
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}
.BGColor{
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background-color: #3306F9;
  color: #fff;
}
.WrapperValid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img{
  width: 130px;
  height: 130px;
  margin: 5px 0;
}
#falseImg{
  width: 130px;
  height: 130px;
  margin: 5px 0;
}
.BtnWrapper{
  display: flex;
  justify-content: space-between;
}
.leftMenu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 150px;
}
.leftMenu li {
  list-style-type: none;
  margin: 5px 10px;
}
.leftMenu a{
  text-transform: none;
  text-decoration: none;
  color: #000;
}
.rightMenu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 150px;
}
.rightMenu li{
  list-style-type: none;
  margin: 20px 35px;
}
.rightMenu li a{
  text-transform: none;
  text-decoration: none;
  color: #fff;
  background-color: #3306F9;
  padding: 7px 30px;
  border: 1px solid #3306F9;
  border-radius: 5px;
}
.active{
  opacity: 0.5;
}
.animate {
  box-shadow:
          1px 1px #53a7ea,
          2px 2px #53a7ea,
          3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
