.valid{
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}
.text-valid-wrapper{
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background-color: #76dd1e;
  color: #fff;
}
.wrapper-valid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img{
  width: 130px;
  height: 130px;
  margin: 5px 0;
}
img.rotate{
  animation: turn 1300ms;
}

.btn-wrap{
  display: flex;
  justify-content: space-between;
}
.left-mnu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 150px;
}
.left-mnu li {
  list-style-type: none;
  margin: 5px 10px;
}
.left-mnu a{
  text-transform: none;
  text-decoration: none;
  color: #000;
}
.left-mnu li a img{
  max-width: 24px ;
}
.right-mnu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 150px;
}
.right-mnu li{
  list-style-type: none;
  margin: 20px 35px;
}
.right-mnu li a{
  text-transform: none;
  text-decoration: none;
  color: #fff;
  background-color: #76dd1e;
  padding: 7px 30px;
  border: 1px solid #76dd1e;
  border-radius: 5px;
}
.active{
  opacity: 0.5;
}
.animate {
  box-shadow:
          1px 1px #45ea5d,
          2px 2px #45ea5d,
          3px 3px #45ea5d;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #76dd1e;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}
@-webkit-keyframes turn {
  to {
    -webkit-transform: rotateY(180deg);
  }
}
@keyframes turn {
  to {
    transform: rotateY(180deg);
  }
}
